<body id = "background">    
    <div style = "margin-top: 20px">    
        <h1 style = "text-align: center; color:aliceblue">
            Welcome to the home of IPL Stats
        </h1>
    </div>
    <div class="container">
        <div class="row" style="margin-top:50px; margin-left:20px;">
            <div class=" col col-md-3" style="margin-left: 10px;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://spiderimg.amarujala.com/assets/images/2020/08/04/750x506/ipl-2020-uae_1596546052.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="color:black">IPL 2020 starts from september 19th</h5>
                        <p class="card-text"style="color:black">IPL 2020 is scheduled to start in september and is going to take place in UAE.</p>  
                    </div>
                </div>
            </div>
            <div class="col col-md-3" style="margin-left: 50px;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://static.asianetnews.com/images/01edrce2fbd8g4akr7m3bpebqv/11-jpg_710x400xt.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="color:black">VIVO pulls out of IPL</h5>
                        <p class="card-text"style="color:black">Chinese smartphone brand VIVO will no longer be the title sponser of IPL 2020 as the brand terminated its contract. Several brands have roumered to made a bid including Amazon and Byju's.</p>  
                    </div>
                </div>
            </div>
            
            <div class=" col col-md-3" style="margin-left: 50px;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://static.toiimg.com/thumb/77570465.cms?width=680&height=512&imgsize=175597" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="color:black">Mahendra Singh Dhoni and Suresh Raina have both announced their retirement from International Criket</h5>
                        <p class="card-text"style="color:black">The Best Captian in the history of Indian Criket and The Best Fielder for the Indian team during his prime have both announced their retirement this Independence Day.</p>  
                    </div>
                </div>
            </div>
            
            <!-- <div class="col col-md-3">
                <div class=" col col-md-3" style="margin-left: 10px;">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://spiderimg.amarujala.com/assets/images/2020/08/04/750x506/ipl-2020-uae_1596546052.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" style="color:black">IPL 2020 starts from september 19th</h5>
                            <p class="card-text"style="color:black">IPL 2020 is scheduled to start in september and is going to take place in UAE.</p>  
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</body>